/* CSS files add styling rules to your content */

body {
  font-family: 'Open Sans', sans-serif;
  margin: 2em
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 40px;
  text-align:center
}

h2{
  font-family: 'Open Sans', sans-serif;
  text-align:center;
  font-size: 30px
}

footer {
  background-color:#c6d2da;
  font-size: 15px
}

main {
  
}